.App {
  text-align: left;
}

.App-logo {
  height: 200px;
  width: auto; 
  position: absolute; 
  top: 100px; 
  left: 25px;
  right: 125px; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo para los enlaces de navegación */
.nav-link {
  color: #ff0000; 
  text-decoration: none; 
}

.nav-link:hover {
  color: #fc0404; 
}


.App-header {
  background-color: #0237a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}




